
<div style="width: 500px; height: 500px; left: 30%; margin-top:5%; text-align: center; position: absolute;">
    <div style="dispaly: table-cell; vertical-align: middle;">
        <embed src="https://www.youtube.com/embed/0rtV5esQT6I?autoplay=1" hidden=true></embed>
        </br><a href="https://week3r-yunseobshin.c9users.io">오예 통과</a>
        </br><%= @cr %>
    </div>
</div>